input{
    color: blue;
    display: block;
    margin: 20px;
}
.formHolder{
   display: flex;
   justify-content: center;
   background-color: yellow;
}
h1{
    display: block;
}

.img_preview{
    display: block;
   width: 200px;
   height: 200px;
}
image{

   max-width: 10px;
}